#experience {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__experience {
  padding-top: 2rem;
}

.text_description {
  padding-bottom: 1rem;
}

.experience__icons {
  font-size: 2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  width: 100%;
}

.experience_details {
  display: inline-block;
  padding: 0.5rem 1rem;
}
