#experience {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__two_collums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.experience__icons {
  font-size: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.8rem;
  backdrop-filter: blur(15px);
  width: 100%;
  color: var(--color-primary);
}

.experience_details {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.experience__animation {
  width: 85%;
}

@media screen and (max-width: 810px) {
  #experience {
    display: block;
    margin-top: 10rem;
    padding-top: 2rem;
  }

  section .container__experience {
    width: var(--container-width-lg);
  }

  .container__two_collums {
    display: flex;
    flex-direction: column;
  }
  .experience__animation {
    margin-top: -1rem;
  }

  .experience__icons {
    margin-top: 1rem;
  }
}
