nav {
  width: max-content;
  height: 100%;
  position: fixed;
  top: 0vh;
  font-size: large;
  background: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

nav a {
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  color: var(--color-primary);
}

nav a:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  nav {
    width: 85%;
    height: fit-content;
    position: fixed;
    top: 90vh;
    right: 50%;
    transform: translateX(50%);
    font-size: large;
    border-radius: 25px;
    backdrop-filter: blur(12px);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
