header {
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

p {
  line-height: 1.25rem;
}

.profile-picture {
  border-radius: 50%;
  width: 22rem;
  margin-top: 2rem;
}

.profile-picture__position {
  display: flex;
  justify-content: center;
}

.about-text {
  margin-top: 2rem;
}

.scroll-down {
  position: absolute;
  top: 2rem;
  transform: rotate(90deg);
  right: -10rem;
  font-size: large;
}

@media screen and (max-width: 600px) {
  header .scroll-down {
    display: none;
  }
}
