header {
  height: 100vh;
  min-height: fit-content;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

p {
  line-height: 1.25rem;
}

.profile-picture {
  border-radius: 50%;
  width: 15rem;
  margin-top: 2rem;
}


.about-text {
  margin-top: 2rem;
}

.scroll-down {
  position: absolute;
  top: 6rem;
  transform: rotate(90deg);
  right: -10rem;
  font-size: large;
}

@media screen and (max-width: 600px) {
  header .scroll-down {
    display: none;
  }
  header .container {
    width: var(--container-width-lg);
  }
}
