header {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.header__container {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

p {
  line-height: 1.25rem;
}

.profile-picture {
  border-radius: 50%;
  width: 15rem;
  margin-top: 2rem;
}

.about-text {
  margin-top: 2rem;
}

@media screen and (max-width: 810px) {
  header .scroll-down {
    display: none;
  }
  header .container {
    margin: auto;
    padding-top: 2rem;
    width: var(--container-width-lg);
  }

  .buttons a {
    font-size: small;
  }
}
