@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* CSS variables - you can use these variables anywhere in the project */
/* Not sure if I will use these colors, remember to choose different color pallete */
:root {
  --color-bg: #50514f;
  --color-bg-variant: #70c1b3;
  --color-primary: #198754;
  --color-primary-variant: #1c5d79;
  --color-yellow: #ffe066;
  --color-white: #fff;
  --color-secondary: #6c757d;

  --container-width-sm: 50%;
  --container-width-md: 70%;
  --container-width-lg: 80%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: var(--color-white);
}

.container {
  width: var(--container-width-sm);
  margin: 0 auto;
}

section {
  height: 100vh;
  margin-top: 4rem;
}

h1 {
  font-size: larger;
}