.logo {
  font-size: 2rem;
  color: var(--color-primary);
}

.logo:hover {
  cursor: default;
}

nav,
.nav__links {
  padding: 0;
  margin: 0;
  display: flex;
}

nav {
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.nav__links {
  gap: 1rem;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
