#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact__img {
  width: 50%;
}

.container__contact {
  display: flex;
  align-items: center;
  gap: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
